body{
    height:100vw;
   
}


form{
    position:absolute;
    border:2px solid black;
    height: auto;
    width:75vw;
    left:12vw;
    /* background-color: aqua; */
    
}

div{
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom:1vw;
}

label{
    padding-top:1vw;
}

.red{
    color:red;
}

.green{
    color:green;
}

/* #gender {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
  } */

  .add{
    display:block;
  }


  .ccode{
    width: 5vw;
    margin-left: 1vw;
  }

  .pho{
    margin-left: 1vw;
  }

  .addr{
    margin-top: 1vw;
  }

  .btr{
    display: flex;
    justify-content: flex-start;
    gap: 4vw;
    margin-left: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;

  }